<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Snackerdoodle</title>
	<link rel="stylesheet" type="text/css" href="styles/main.css">
	<script type="text/javascript" src="scripts/jquery.js"></script>
</head>
<body>

<div ng-app="foodApp" ng-controller="foodCtrl">

	<div id="headerBox">
		<p id="heading">SNACKERDOODLE</p>
		<input id="searchRec" type="text" placeholder="Search for Recipes">
		<input id="searchIng" type="text" placeholder="Search Ingredients (seperate with commas)">
		<button id="searchBtn" ng-click="showFood()"></button>
		<hr>
		
		
		<div id="recipeContain">
		<div class="recipes" ng-repeat="x in food">
			<h2 class="title">{{x.title}}</h2>
			<img src="{{x.thumbnail}}"  ng-init="removeAnds()" />
			<p id="ing">{{x.ingredients}}</p>
			<p id="link"><a href="{{x.href}}">{{x.href}}</a></p>
			
        	<!-- <script type="text/javascript">
				$("h2").each(function() {
					var text = $(this).text();
        			$(this).text(text.replace('s','e'));
        		});
        	</script> -->
		</div>
		</div>
		<div id="pageContain">
			PAGE:
			<button id="page1Btn" ng-click="changePage1()">1</button>
			<button id="page2Btn" ng-click="changePage2()">2</button>
		</div>
	</div>

</div>


	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="scripts/main.js"></script>	
</body>
</html>