/*#headerBox {
	background-image: url("../images/vegetables.jpg");
	width: 1300px;
	height: 800px;
	background-size: cover;
    margin-top: -100px;
    text-align: center;
    
}
h1 {
	padding-top: 500px;
}
#searchRec, #searchIng {
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
}
#searchRec {
	width: 400px;
	height: 25px;
	border: 3px solid #d50103;
	margin-bottom: 10px;
}
#searchIng {
	width: 300px;
	height: 15px;
	border: 3px solid #fa8e00;
	margin-bottom: 10px;
}
#searchBtn {
	background-image: url("../images/searchBtn.png");
	background-color: white;
	position: relative;
	top: -70px;
	left: 190px;
	width: 20px;
	height: 20px;
	background-size: contain;
	background-position: center;
	border: none;

}*/